*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Monospace', sans-serif;
    font-weight: 400;
    line-height: 1.8em;
}


body, html{
    height: 100%;
    margin:0;
    background-color: #111;
}

header {
    height: 70px;
    width: 100%;
    position: sticky;
    z-index: 100;
    display: flex;
    top:0;
}

.creditcontainer{
    position: fixed;
    color: #eef4f3;
    z-index: 100;
    transform: translate(10px,661px);
}

.credittext{
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: 7px;
    text-shadow: 2px 2px #111;
}

.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: #111;
}

.title {
    color: #eef4f3;
    font-family: 'Nunito Sans', sans-serif;
    padding-left: 40%;
    transition: all 0.3s;
    font-size: 22px;
    font-weight: bold;
}

.nav-links li{
    display: inline-block;
    list-style: none;
    margin: 8px;
    transition: all 0.3s;
}

.nav-links li a{
    text-decoration: none;
    color: #eef4f3;
    font-family: 'Nunito Sans', sans-serif;
    position:relative;
    font-size: 15px;
    border-radius:  10px;
    margin: 0 10px;
    padding: 4px 10px;
    transition: all 0.3s;
}

.nav-links li a:hover{
    background: #eef4f3;
    color: #111;
    transition: all 0.3s;
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5{
    position:relative;
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

.pimg1{
    background-image: url('../images/img1.png');
    min-height: 92%;
}

.pimg2{
    background-image: url('../images/img2.png');
    min-height: 450px;
}

.pimg3{
    background-image: url('../images/img3.png');
    min-height: 450px;
}

.pimg4{
    background-image: url('../images/img4.png');
    min-height: 450px;
}

.pimg5{
    background-image: url('../images/img5.png');
    min-height: 450px;
}

.section{
    text-align: center;
    padding:70px 90px;
    transition: all 0.3s;
}

.section-light{
    background-color: #eef4f3;
    color: #111;
}

.section-dark{
    background-color: #111;
    color:#eef4f3;
}

.text {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    font-size: 35px;
    letter-spacing: 8px;
    text-transform:uppercase;
    text-shadow: 3px 3px #111;
    color:#eef4f3;
}

.subtitle{
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}

.subtext{
    font-size: 14px;
    font-weight:light;
    text-align: center;
    letter-spacing: 2px;
    transform: translateY(5px);
}

.bottom{
    height: 450px;
    text-align: center;
    color: #eef4f3;
    padding-top: 40px;
}

.use{
    transform: translateY(100px);
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

#sub{
    transition: all 0.4s;
    padding-bottom: 10px;
    transform: translateY(-50px) ;
}

form{
    background: #111;
    display:flex;
    width:fit-content;
    border-radius: 10px;
    transition: all 0.4s;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50px) ;
}

form input {
    border: 0;
    background: #eef4f3;
    outline: none;
    padding: 10px 20px;
    height: 60px;
    width: 400px;
    font-size: 16px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 0.4s;
    color: #111;
}

form input::placeholder{
    color: #444444;
}

form button{
    background: #444;
    border:2px;
    outline:none;
    height:60px;
    width: 80px;
    cursor:pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.4s;
}

span {
    font-family: 'Lato', sans-serif;
    transition: all 0.7s;
}

@media(max-width: 1100px){
    .title {
        color: #eef4f3;
        font-family: 'Nunito Sans', sans-serif;
        padding-left: 10%;
        transition: all 0.15s;
        font-size: 20px;
        font-weight: bold;
        transform: translateY(1px);
    }
    .nav-links li{
        display: inline-block;
        list-style: none;
        margin: -5px;
        transition: all 0.15s;
        transform: translateX(15px);
    }
    .nav-links li a{
        text-decoration: none;
        color: #eef4f3;
        font-family: 'Nunito Sans', sans-serif;
        position:relative;
        font-size: 10px;
        border-radius:  10px;
        margin: 0 2px;
        padding: 4px 10px;
        transition: all 0.15s;
    }
    form input {
        border: 0;
        background: #eef4f3;
        outline: none;
        padding: 10px 20px;
        height: 60px;
        width: 300px;
        font-size: 16px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        transition: all 0.15s;
        color: #111;
    }
    #box{
        text-align: center;
        padding:50px 90px;
        transition: all 0.15s;
    }

    .text {
        position: absolute;
        top: 45%;
        width: 100%;
        text-align: center;
        font-size: 30px;
        letter-spacing: 8px;
        text-transform:uppercase;
        text-shadow: 3px 3px #111;
        color:#eef4f3;
    }

    .creditcontainer{
        display: none;
    }
}
