*{
    box-sizing: border-box;
    font-family: 'Monospace', sans-serif;
    font-weight: 400;
    line-height: 1.8em;
}


body, html{
    height: 100%;
    width: 100%;
    margin:0;
    background-image: url(images/projectimg.jpg);
    background-color: #111;
    background-blend-mode:difference;
    background-size: cover; 
    background-attachment:fixed;
    scroll-behavior: smooth;
    color: #eef4f3;
}

body{
    padding:0;
    margin:0;
}

header {
    height: 70px;
    width: 100%;
    position:fixed;
    z-index: 100;
    display: flex;
    top:0;
}

.creditcontainer{
    position: fixed;
    color: #eef4f3;
    z-index: 100;
    transform: translate(1180px,724px);
}

.credittext{
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: 7px;
    text-shadow: 2px 2px #111;
}

.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: #111;
}

.title {
    color: #eef4f3;
    font-family: 'Nunito Sans', sans-serif;
    padding-left: 40%;
    transition: all 0.3s;
    font-size: 22px;
    font-weight: bold;
}

.nav-links li{
    display: inline-block;
    list-style: none;
    margin: 8px;
    transition: all 0.3s;
}

.nav-links li a{
    text-decoration: none;
    color: #eef4f3;
    font-family: 'Nunito Sans', sans-serif;
    position:relative;
    font-size: 15px;
    border-radius:  10px;
    margin: 0 10px;
    padding: 4px 10px;
    transition: all 0.3s;
}

.nav-links li a:hover{
    background: #eef4f3;
    color: #111;
    transition: all 0.3s;
}

.projecttitle{
    display: grid;
    transform: translateX(14vh) translateY(34vh); 
    transition: all 0.3s;   
    width:600px;
}

.projecttitle h1{
    font-size: 80px;
    color: #eef4f3;
}

.projecttitle p{
    font-size: 15px;
    color: #eef4f3;
    transform: translateY(-85px);
    transition: all 0.3s;
}

.parent {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(2,180px);
    grid-template-rows: repeat(3, 180px); 
    justify-content: right;
    transform: translate(-85px,-215px);
    transition: all 0.3s;
}

.parent div {
    padding: 10px;
    background-color: #111;
    opacity: 0.8;
    color: #eef4f3;
    border-radius: 20px;
    display: grid;
    place-items: center;
    transition: all 0.5s;
}

.parent p {
    width: 170px;
    transition: all 0.5s;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 2px 2px #111;
    font-size: 11.3px;
    transform: translateX(5px);
}

.parent h1 {
    transform: translate(-70px, -25px);
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 3px;
    text-shadow: 3px 3px #111;
    transition: all 0.5s;
}

.parent h2 {
    width:140px;
    font-size: 9px;
    text-align: center;
    transform: translateY(-2px);
    display: none;
}

.parent .sub1{
    opacity: 1;
    background-image: url("../images/prj1.jpg");
    background-size: cover;
    
}

.parent .sub2{
    opacity: 1;
    background-image: url("../images/prj2.jpg");
    background-size: cover;
}

.parent .sub3{
    opacity: 1;    
    background-image: url("../images/prj3.jpg");
    background-size: cover;
}

.parent .sub4{
    opacity: 1;
    background-image: url("../images/prj4.jpg");
    background-size: cover;
}

.parent .sub5{
    opacity: 1;
    background-image: url("../images/prj5.jpg");
    background-size: cover;
}

.parent .sub6{
    opacity: 1;
    background-image: url("../images/prj6.jpg");
    background-size: cover;
}

#elm:hover{
    background-image: none;
    background-color: #111;
    scale: 1.35;
    z-index: 9;
}

.sub1:hover > h1, .sub1:hover > p{
    display: none;
}

.sub2:hover > h1, .sub2:hover > p{
    display: none;
}

.sub3:hover > h1, .sub3:hover > p{
    display: none;
}

.sub4:hover > h1, .sub4:hover > p{
    display: none;
}

.sub5:hover > h1, .sub5:hover > p{
    display: none;
}

.sub6:hover > h1, .sub6:hover > p{
    display: none;
}

#elm:hover > h2 {
    display:grid
}



@media(max-width: 1100px){
    .title {
        color: #eef4f3;
        font-family: 'Nunito Sans', sans-serif;
        padding-left: 10%;
        transition: all 0.15s;
        font-size: 22px;
        font-weight: bold;
        transform: translateY(1px);
    }
    .nav-links li{
        display: inline-block;
        list-style: none;
        margin: -5px;
        transition: all 0.15s;
        transform: translateX(15px);
    }
    .nav-links li a{
        text-decoration: none;
        color: #eef4f3;
        font-family: 'Nunito Sans', sans-serif;
        position:relative;
        font-size: 12px;
        border-radius:  10px;
        margin: 0 2px;
        padding: 4px 10px;
        transition: all 0.15s;
    }

    .projecttitle{
        transform: translateX(-40vh) translateY(70vh); 
        scale: 0.45;   
        transition: all 0.3s;
    }

    .projecttitle p{
        font-size: 14px;
        transition: all 0.3s;
    }

    .parent {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 100px);
        grid-template-rows: repeat(3, 100px); 
        justify-content: right;
        transform: translate(-30px,-90px);
        transition: all 0.3s;
    }

    .parent h1 {
        display: none;
    }

    .parent p {
        width: 90px;
        transition: all 0.5s;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: bold;
        letter-spacing: 3px;
        text-shadow: 1px 1px #111;
        font-size: 8px;
        transform: translateX(-2px);
    }

    .parent h2 {
        width:80px;
        font-size: 5.1px;
        text-align: center;
        transform: translateY(-2px);
        display: none;
    }
}
